*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

nav{
    /* position: fixed; */
}

#footer{
    color: #4d4747;
}

.cap{
    font-size:30px;
    font-weight: 800;
}

.Vaish{
    font-size: 18px;
}

@media only screen and (max-width: 710px) {
    .blank{
        /* background-color: #000; */
        /* width: 20%; */
    }
    .nava{
        width: 110%;
        /* border: 2px solid #000; */
    }
    .navf{
        /* visibility:hidden; */
        /* width: 0; */
        /* border: 2px solid black; */
        width: 0.1px;
        overflow: hidden;
    }
    .home{

    }

    .img{
        width: 60px;
    }
    .Vaish{
        font-size: 14px;
        font-weight: 800;
        margin-left: -7px;

    }
    .Vaish img{
        /* transform: translateY(12px); */
        width: 60px;
        /* margin-left: 5px; */
    }
    .cap{
        font-size: 20px;
        font-weight: 800;
    }
}

.Vaish{
    transform: translateY(-10px);
    /* transform: translateX(-15px); */
    /* /* width: 40%; */
    /* display: inline-block; */
    /* border: 2px solid #000; */
    color:#4d4747;
}

.Vaish img{
    transform: translateY(12px);
}

.ani{
    animation: techni;
    animation-duration: 2s;
}

@keyframes techni{
    0%{
        padding-top: 10%;
    }
    100%{
        padding: 0;
    }
}

.container{
    /* border: 2px solid black; */
    display: flex;
    width: 90%;
    /* height: ; */
    margin: auto;
    padding-bottom: 5px;
    border-bottom: 2px solid grey;
    box-shadow: 0px 10px 10px -10px #7e22ce;
}

.blank{
    width: 100%;
    margin-left: -25px;
    margin-right: 25px;
}

.nava{
    /* min-width: 80%; */
    font-size: 24px;
    font-weight: 700;
    color: #7e22ce;

}

.nava a{
    color: #7e22ce;
    text-decoration: none;
}

.navf{
    display: flex;
    gap: 8px;
}

.Home{
    margin-top: 17px;
    height: 30px;
    width:5%;
    font-size: 20px;
    /* border: 2px solid red; */
    width:80px ;
    font-weight: 600;
    text-align: center;
}

.home p{
    /* transform: translateY(-10px); */
}

.Home:hover{
    /* background-color: #8a28df; */
    /* color: #7e22ce; */
}

.Register:hover{
    /* background-color: #8a28df; */
    /* color: #7e22ce; */
}

.Register{
    margin-top: 17px;
    height: 30px;
    width: 5%;
    font-size: 20px;
    /* border: 2px solid red; */
    width: 100px;
    font-weight: 600;
    text-align: center;
}

.navbtn{
    /* background-color:#7e22ce; */
    color: white;
    border-radius: 8px;
}

.navbtn p{
    margin: 0;
    padding: 0;
    margin-top: 1px;
}

.link{
    color: grey;
    text-decoration: none;
    font-weight: 500;
}

.link:hover{
    color: #7e22ce;
}

.show{
    /* background-color:rgba(211, 211, 211, 0.159) ; */
    /* border: 2px solid red; */
    height: 50vh;
    width: 90%;
    margin: auto;
    border-bottom: 2px solid gray;
    padding-bottom: 12px;
    box-shadow: 0 10px 10px -10px #7e22ce;
    color: #4d4747;
}

.text{
    font-size: 28px;
    font-weight: 600;
    position: relative;
}

.text-second{
    color: #7e22ce;
    /* border: 2px solid; */
    width: 200px;
}

.text-second::before{
    /* display:block; */
    content: "";
    color: #7e22ce;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 3px solid #7e22ce;
    animation: animate 2s steps(15) infinite;
}

@keyframes animate{
    40%, 60% {
        left:100%;
    }
    100%{
        left: 0%;
    }
}

.floatl{
    /* border: 2px solid blue; */
    width: 48%;
    height: 100%;
    float: left;
    overflow: hidden;
    font-size: larger;
    padding-top: 20px;
    /* text-align: center; */
}

.highlight{
    color: #7e22ce;
}

.floatl p{
    margin-top: 40px;
    font-weight: 600;
}

.floatr{
    /* border: 2px solid blue; */
    width: 50%;
    height: 100%;
    float: right;
    background: url("../images/vector-DEC-2020-52_generated.jpg") no-repeat;
    background-size: cover;
    /* border-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    box-shadow: 0 10px 10px -10px #7e22ce;
    object-fit: cover;
}

.categories{
    /* border: 2px solid red; */
    min-height: 70vh;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.about{
    /* border:2px solid red; */
    width: 90%;
    margin:auto;
    min-height: 60vh;
    border-bottom: 2px solid grey;
    box-shadow:0 10px 10px -10px #7e22ce;
    background-color: rgba(211, 211, 211, 0.159);
}

.aboutus{
    /* border: 2px solid green; */
    align-items: center;
    text-align: center;
    font-size: 24px;
}

.aboutus h1{
    color: #4d4747;
    padding-top: 20px;
}

.about_content{
    /* border: 2px solid blue; */
    width: 90%;
    margin: auto;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    font-size: large;
    border-left: 7px solid #7e22ce;
    padding-left: 20px;
}

.benefits{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    min-height: 60vh;
    border-bottom: 2px solid gray;
    box-shadow: 0 10px 10px -10px #7e22ce;
    padding-bottom: 25px;

}

.h_benefits{
    text-align: center;
    /* border: 2px solid blue; */
    font-size: 24px;
    color: #4d4747;
}

.benefits_box{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}

.b_box{
    /* border: 2px solid pink; */
    width: 420px;
    height: 382px;
    border-radius: 20px;
    background-color: rgba(211, 211, 211, 0.159);
}

.b_logo{
    /* border: 2px solid #7e22ce; */
    min-height: 6vh;
    text-align: center;
    margin-top: 10px;
}

.b_logo img{
    border-radius: 25px;
}

.b_heading{
    /* border: 2px solid green; */
    text-align: center;
    font-size: 20px;
    color: #4d4747;
    font-weight: 600;
}

.b_content{
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    font-size: large;
    text-align: center;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.list{
    text-align: center;
    font-size: 24px;
    color: #4d4747;
    /* border-bottom: 2px solid gray; */
    /* box-shadow: 0 10px 10px -10px #7e22ce; */
}

.boxes{
    display: flex;
    /* color:#000; */
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
    box-shadow: 0 10px 10px -10px #7e22ce;
    padding-bottom: 20px;
}

.box{
    background-color: white;
    height: 350px;
    width: 300px;
    margin: 5px;
    margin-top: 5px;
    border-radius: 10px;
    transition-duration: 250ms;
    box-shadow: -4px 4px 5px 4px #7e22ce;
    background-color:rgba(211, 211, 211, 0.159) ;
}

.box:hover{
    transform: scale(1.1);
    transition-duration: 250ms;
    box-shadow: 0 0 40px #7e22ce;
}

.heading{
    text-align: center;
    border-bottom: 1px solid white;
    box-shadow: 0 10px 10px -10px #7e22ce;
    padding-top: 1px;
}

.light{
    color: #4d4747;
    font-weight: 800;
}

.content{
    margin-top: 30px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
}

.text_content{
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.a_boxes{
    text-decoration: none;
}

.register{
    /* border: 2px solid red; */
    min-height: 20vh;
    width: 90%;
    margin: auto;
    /* border-top: 2px solid grey; */
    margin-top: 10px;
    color: #4d4747;
    /* box-shadow: 0 -10px 10px -10px grey; */
}

.reg{
    text-align: center;
}

.reg_btn{
    background-color: #7e22ce;
    width: 120px;
    height: 50px;
    /* margin-left:35%; */
    text-align: center;
    color: white;
    border-radius: 10px;
}

.regg{
    padding-top: 10px;
}

.centre{
    display: flex;
    justify-content: center;
}

.centre a{
    text-decoration: none;
}

.reg_btn:hover{
    background-color: #8a28df;
}

.footer{
    /* border: 2px solid red; */
    min-height: 20vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid #000;
    width: 90%;
    margin: auto;
    box-shadow: 0 -10px 10px -10px #7e22ce;
    /* gap: 90px; */
}



.foot{
    /* background-color: lightgreen; */
    height: 110px;
    width: 400px;
    margin: 5px;
    border-radius: 10px;
}

.f{
    width: 60%;
    height: 30%;
    /* border: 2px solid; */
    margin-left: 50px;
    margin-top: 40px;
}

.f1{
    /* border: 2px solid blue; */
    height: 100%;
    background:url("../images/vaish.png") no-repeat;
    background-size:contain;
    width: 50%;
    float: left;
}

.f2{
    /* border: 2px solid blue; */
    height: 100%;
    background:url("../images/nba.png") no-repeat;
    background-size:contain;
    width: 50%;
    float: right;
}

.f11{
    text-align: center;
}

.contact{
    text-align: center;
    text-decoration: underline;
}

.contact_info{
    font-size: larger;
}

.contact_info ul{
    margin-left: 20%;
}

.codethics{
    text-align: center;
    text-decoration: underline;
}

.coders{
    font-size: larger;
}

.coders ul{
    margin-left: 20%;
}

/* page 2 */

.eve{
    text-align: center;
}

/* page 3 */

.rule{
    height: 60vh;
    border-bottom: 2px solid gray;
    width: 90%;
    margin: auto;
    box-shadow: 0px 10px 10px -10px #7e22ce;
}

.rewards h1{
    font-size: 28px;
    font-weight: 700;
    text-decoration: underline #7e22ce;
}